/*Start header*/

.wrapper{
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}

.header{
    background: #FFFFFF;
}

header{
    height: 133px;
    
}

.logo{
    float: left;
    width: 166px;
    height: 83px;
}

.search input, button{
    background: transparent;
    border: none;
    display: inline-flex;
}


.search button{
    float: right;
}

.search{
    width: 360px;
    height: 29px;
    float: right;
}

.search input {
    outline:none;
}

.search, .logo{
    justify-content: space-around; 
    display: inline-block;
}

.menu{
    font-family: "RotondaBold";
    float: right;
    font-size: 18px;
    margin-top: -50px;
    
    } 
    .menu__link{
        text-decoration: none;
        margin: 10px;
        color: #000000;
    }
    
    .menu_list{
        display: flex;
        list-style-type: none;
        color: #57984C;
    }
    
    
    .menu_item:hover, .menu_item:focus, .menu_item:active {
        opacity: 50%;
        
    }

    .line{
        position: sticky;
        min-width: 350px;
        min-height: 0px;
        left: 1165px;
        top: 20px;
        border: 1px solid #324950;
    }


/*End header*/


/*Start Middle*/

.field-banner {
    
    background: url("../img/image 7.png") no-repeat;
    background-position: center;
    height: 480px;
    margin-top: 0px;
  }

  .input-label{
    margin-top: 15px;
    font-size: large;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    color: #324950;

  }


  .input-box{
    height: 55px;
    width: 350px;
    border-radius: 5px;
    border-color: white;
  }
 /* 2 col*/
 .input-box-large{
    height: 430px;
    width: 635px;
    border-radius: 5px;
    border-color: white;
  }

 .input-box-short{
    height: 55px;
    width: 225px;
    border-radius: 5px;
    border-color: white;
    margin-left: 25px;
    
    
  }

  .input-box-long{
    height: 55px;
    width: 635px;
    border-radius: 5px;
    border-color: white;
  }

  .send-button{
    height: 55px;
    width: 255px;
    padding:15px;
    padding-left: 75px;
    border-radius: 15px;
    color:white;
    background-color: #57984C;
    margin-left: 30px;
    

    
  }

  .h3 {
    font-weight: 600;
    font-size: 32px;
   

  }
  .col-lg-12{
      margin-left: 30px;
      font-family: "RotondaBold";
      font-style: normal;
      font-weight: 700;
      color: #324950;
  }

  .container2{
    height: 250px;
    background-color: #ffffff;
    margin-top: 100px;
    
  }
  .contact-green-underlined{
      margin-top: 50px;
  }
  .contact-green-underlined,  .text-color-green{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    color: #57984C;
  }

  .text_adress{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    color: #324950;
  }
/*End Midlle/



/*Start footer*/
.footer_1 {
    background-color: #2D3F45;
    padding-top: 5px;
}

.footer_2{
    background: #324950;
    color: #B9B9B9;
}

.footer_1 .row {
    margin-top: 10px;
}

.footer_item {
    margin: 0 13px;
    margin-top: 5px;
}

.footer_item a {
    font-family: 'Roboto';
    color: #fff;
    font-size: 16px;
}

.footer_link {
    margin: 0 13px;
}

.crosses {
    padding-top: 20px;
}

.footer_menu {
    display: flex;
    justify-content: center;
    font-family: 'RotondaBold';
}

footer {
    background-color: #324950;
    color: #B9B9B9;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 0;
}
.footer_1 li{
        list-style-type: none;
    } 

/*End footer*/
