<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Google">
    <meta name="viewport" content="width=320, initial-scale=1.0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styleLemon.css">
    <link rel="stylesheet" href="css/lemon.css">

    

    <title>Lemon</title>
</head>
<body>
    <!-- Vue JS  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <header class="header">
        <div class="wrapper">
            <div class="row">
                <div class="logo">
                    <img src="./img/Logo.png" alt="Logo">
                </div>
                <div class="search ml-auto">
                    <input type="text" placeholder="Search" name="search">
                    <button type="submit"><img src="./img/Vector.png" alt=""></button>
                </div>
        
            </div>

            <nav class="navbar">
                <input type="checkbox" id="toggler">
                <label for="toggler"><i class="ri-menu-line"></i></label>
                <div class="menu">
                    <ul class="list">
                        <li class="item">
                            <it><a href="index.html" class="link">Home</a></it>
                        </li>
                        <li class="item">
                            <it><a href="#" class="link">Company Profile</a></it>
                        </li>
                        <li class="item">
                            <it><a href="Lemon.html" class="link">Products</a></it>
                        </li>
                        <li class="item">
                            <it><a href="#" class="link">Services</a></it>
                        </li>
                        <li class="item">
                            <it><a href="#" class="link">R & D</a></it>
                        </li>
                        <li class="item">
                            <it><a href="contactUs.html" class="link">Contact</a></it>
                        </li>

                    </ul>
                </div>
            </nav>

            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">
                    <div class="bar1"> </div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="index.html">Home</a>
                  <a href="#">Company Profile</a>
                  <a href="Lemon.html">Products</a>
                  <a href="#">Services</a>
                  <a href="#">R & D</a>
                  <a href="contactus.html">Contact</a>
                </div>
              </div>

              <script>
                
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }
                
                
                window.onclick = function(event) {
                  if (!event.target.matches('.dropbtn')) {
                
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                      var openDropdown = dropdowns[i];
                      if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                      }
                    }
                  }
                }
                </script>
    </header>

    <section class="lemon">
        <div></div>
    </section>

    <section class="inf_tomat">
        <div class="wrapper">
            <div class="title_text">
                Agridera Fresh Market Lemon Hybrids
            </div>
            <div class="title_img">
                <img src="./img/Union.png" alt="xxx">
            </div>
            <div class="main_text">
                <p>Fortunately, lemons are a recent "discovery" of botanists. Therefore, you can literally “with documents in hand” trace the emergence and development of almost every variety and illustrate the story with fruits (since they are on sale). In summer, when the main plantings of lemon trees are just beginning to form the ovary, Argentinean is sold in our stores <b> Eureka is a modern frankly sour and not fragrant variety that appeared after the fruits of the Siciliano lemon were brought to the USA and, as it usually happens, someone curious sowed the seeds </b>
                    In particular, we breed improved disease-resistant cultivars adapted to different markets globally. </p>  
                <p>They are also on sale with us. These are dark yellow fruits with large dark greasy spots on the skin, which makes them look like broken apples. Siciliano is the most essential oil variety of lemons, for which it is valued. </p> 
                <p> Another well-known variety is the ever-flowering remontant Lunario lemon. It is very often sold in garden centers. </p>
                <p class="line2"> Vrika, Siciliano and Lunario belong to the Italian variety of Feminello lemons, which combines more than 20 varieties, including both industrial and collection ones. </p>
            </div>
        </div>
    </section>

    <section class="activ">
        <div class="wrapper">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="colum">
                        <p>Lemon so-called "Americans"</p>
                        <hr>
                        <p class="exam"><b>The so-called "Americans" are also found on the shelves of our supermarkets - lemons of Lisbon and Genoa varieties.</b>. These plants are named after the port from which they were most often exported. And the intra-varietal diversity of this variety type appeared already on the American continent as a result of seed propagation. </p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="colum">
                        <p>Another group of lemons </p>
                        <hr>
                        <p class="exam"><b>Another group of lemons was bred in the Novo-Afonsky nursery, where a variety of Italian varieties of lemons were planted at different times.</b> From those trees that did not freeze, Novogruzinsky, Kuzner, Chakvatadze, Gizenko, Udarnik and others lemons were obtained by cross-pollination. They are grown in almost every botanical garden, so cuttings and seedlings of these plants are quite affordable. </p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="colum">
                        <p>The last group of lemons </p>
                        <hr>
                        <p class="exam"><b>The last group of the above are Meyer lemons. </b> They are often sold on New Year's Eve. Usually these are small orange fruits from Azerbaijan or Uzbekistan, or large, but the same orange-orange lemons from Turkey with a coniferous flavor of zest. These plants have nothing to do with lemons, but they grow remarkably and bloom in houses, tolerate frosts and, when propagated by seed, bloom in the 5-7th year after sowing.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



<section class="products">
    <div class="wrapper">
        <p class="line2"> Agridera operates through international and local distributers around the world. </p>
    </div>
   <!-- <div id="app">
        <div class="lemonList col-md-12">
            <div class="row">
                <div class="lemonItem col-md-4" v-if="products" v-for="p in products">
                        <div class="col-md-12">
                            <div class="lemonImg">
                                <img :src="'../img/lemon/' +p.image " alt="">
                            </div>
                        <div class="lemonInfo">
                            <b style = "font-size:20px; line-height: 28px;">{{p.title}}</b>
                            <br>
                            {{p.short_text}}
                        </div>  
                    </div>
                </div>
        </div>
    </div>-->

    <div id="app">
        <div class="container">
          <div class="row justify-content-center">
            <div
              id="margin-vertical-20"
              class="col-lg-4 col-12"
              v-for="product in products"
              :key="product.title"
            >
              <img
                :src="'../img/lemon/'+product.image"
                class="img-fluid"
                alt=""
              />
              <h4 id="margin-vertical-20" class="text-center">
                {{product.title}}
              </h4>
              <h5 class="text-center">{{product.short_text}}</h5>
            </div>
          </div>
        </div>
      </div>


</section>


<section class="footer_1">
    <div class="wrapper">
        <div class="row">
                <div class="col-lg-8 col-md-12">
                    <ul class="footer_menu">
                        <li class="footer_item"> 
                            <a href="#">PROFILE</a>
                        </li>
                        <li class="footer_item">
                            <a href="#">MANAGEMENT</a>
                        </li>
                        <li class="footer_item">
                            <a href="#">PRODUCTS</a>
                        </li>
                        <li class="footer_item">
                            <a href="#">R&D</a>
                        </li>
                        <li class="footer_item">
                            <a href="#">LINKS</a>
                        </li>
                        <li class="footer_item">
                            <a href="#">SITEMAP</a>
                        </li>
                        <li class="footer_item">
                            <a href="#">CONTACT</a>
                        </li>
                    </ul> 
                </div>
                <div class="col-lg-3 d-flex justify-content-center ml-auto">
                    <li class="footer_link">
                        <a href="#"><img src="./img/Ico_in.svg" alt="linkedin"></a>
                    </li>
                    <li class="footer_link">
                        <a href="#"><img src="./img/Ico_inst.svg" alt="instagram"></a>
                    </li>
                    <li class="footer_link">
                        <a href="#"><img src="./img/Ico_tube.svg" alt="youtube"></a>
                    </li>
                    <li class="footer_link">
                        <a href="#"><img src="./img/Ico_tw.svg" alt="twitter"></a>
                    </li>
                    <li class="footer_link">
                        <a href="#"><img src="./img/Ico_fb.svg" alt="facebook"></a>
                    </li>
                </div>
            </div>
    </div>
</section>


<footer class="footer_2">
<div class="wrapper">
        <div class="col d-flex justify-content-center">
            AGRIDERA SEEDS & AGRICULTURE LTD. © 2022
        </div>
</div>
</footer>

<!--  Main JS File -->
<script src="js/main.js"></script>

</body>
</html>